<ion-header-bar class="bar-dark">
		<h1 class="title">Tester 2</h1>
	</ion-header-bar>
	
	<ion-content>
		<center>

		<div class="row"><div class="col"><button class="button button-large" ng-click="showJson()">GET from server</button></div></div>
		<div class="row"><div class="col"><button class="button button-large" ng-click="showJsonPost()">POST to server</button></div></div>
		<div class="row"><div class="col"><button class="button button-large" ng-click="showGMAP()">Google Maps</button></div></div>
		<div class="row"><div class="col"><button class="button button-large" ng-click="showLeaflet()">Leaflet Maps</button></div></div>
		<div class="row"><div class="col"><a href="#visual"><button class="button button-large" ng-click="showVisual()">Screen Change</button></a></div></div>
		</center>
		
	<script id="jsonModal.html" type="text/ng-template">

	<div class="modal">


		<!-- Modal header bar -->
		<ion-header-bar class="bar-secondary">
			<h1 class="title">JSON modal</h1>
		</ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

		<center>

			<p>{{result}}</p><br>
			<p>Time elapsed: {{time}}</p>
		</center>
    </ion-content>

  </div>
  </script>
  
  <script id="jsonModalPost.html" type="text/ng-template">

	<div class="modal">

		<!-- Modal header bar -->
		<ion-header-bar class="bar-secondary">
			<h1 class="title">JSON POST modal</h1>
		</ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

		<center>
			<form ng-submit="POSTJson()">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Username</span>
                        <input type="text" name="username" placeholder="enter username" ng-model="formData.username">
                    </label>
					
					<label class="item item-input item-stacked-label">
                        <span class="input-label">Password</span>
                        <input type="text" name="pwd" placeholder="enter password" ng-model="formData.pwd">
                    </label>
 
                    <input class="button button-block button-positive" type="submit" name="submit" value="Submit to server">                    
                </form>
				<p>{{POSTresult}}</p><br>
				<p>Time elapsed: {{POSTtime}}</p>

		</center>
    </ion-content>

  </div>
  </script>

  
  <script id="GMAPModal.html" type="text/ng-template">

	<div class="modal">

		<!-- Modal header bar -->
		<ion-header-bar class="bar-secondary">
			<h1 class="title">Google Maps ({{map_init_time}})</h1>
		</ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
		<div id="map" style="width:100%; height:100%" data-tap-disabled="true"></div>
    </ion-content>

  </div>
  </script>
  
  <script id="LeafletModal.html" type="text/ng-template">

	<div class="modal">

		<!-- Modal header bar -->
		<ion-header-bar class="bar-secondary">
			<h1 class="title">Leaflet Maps</h1>
		</ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
		<div id="leaf_map" style="width:100%; height:100%" data-tap-disabled="true"></div>
    </ion-content>

  </div>
  </script>
  
  

	</ion-content>